.santa-Main{
        margin: auto;
        width: 60%;
        padding: 10px;
}
.table {
    color: #212529;
    margin-bottom: 1rem;
    display: table;
    background-color: aliceblue;
    border-collapse: collapse;
    border-spacing: 0;
    margin-left: 150px;
}
.table td, .table th {
    border-top: 1px solid #dedede;
    padding: 0.75rem;
    vertical-align: top;
}
.title-santa{
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;

}

.add{
    margin-left: 150px;
    background-color: blueviolet;
    padding: 10px;
    color: white;
    border-radius: 10px;
    border: none
}